---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300,700|Merriweather+Sans:400,300,800,700);

// Our variables
$base-font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-size:   1.6em;
$small-font-size:  0.8em;
$base-line-height: 2em;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #F8F8F8;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    854px;
$content-width-sm: 320px;
$content-width-md: 854px;
$content-width-lg: 1054px;

$on-palm:          600px;
$on-laptop:        800px;
$on-hidef:         1200px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "posts",
        "syntax-highlighting"
;
